.footer {
    background-color: $color-blue;
    padding: 20px 15px;
    margin-top: -7px;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.4);

    &__text {
        color: #fff;
        font-size: 13px;
        text-align: center;

        &:first-of-type {
            margin-bottom: 5px;
        }
        
        a {
            color: $color-red;
            font-weight: $bold;
        }
    }
}