@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: #fff !default;
$slick-dot-color: #fff !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 20px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  background-color: #fff;
  background-image: url(../images/arrow-slider.svg);
  background-repeat: no-repeat!important;
  background-size: 40%!important;
  background-position: center center!important;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  top: 50%;
  transform: translate(-0%, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 2;
  transition: all 150ms linear;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 150ms linear;
  margin: 0 auto;
  color: transparent!important;
  &:hover {
    opacity: 0.9;
  }
  &:focus {
    outline: none;
  }
  &.slick-disabled:before {
    opacity: 1;
  }
  &.slick-prev {
    left: 5px;
    background-image: url(../images/ico-slider-left.svg);
  }
  &.slick-next {
    right: 5px;
    // background-image: url("../images/ico-slick-next.svg");
  }
}

//
.slick-dots {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  display: flex!important;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 9;
  li {
    position: relative;
    display: block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      font-size: 0;
      border: 0;
      background: transparent;
      height: 4px;
      width: 20px;
      outline: none;
      line-height: 0px;
      background-color: #ccc;
      font-size: 0px;
      color: transparent;
      cursor: pointer;
      transition: all 150ms linear;
      border: none;
      &:hover {
        background-color: $color-blue;
      }
    }
    &.slick-active button {
      background-color: $color-blue;
    }
  }
}
