/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */

$font-family-base: "Muli", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

$light: 300;
$regular: 400;
$bold: 700;
$extra-bold: 800;
$black: 900;

/**
  * Colors
*/

$color-text: #57667e;
$color-red: #F83515;
$color-dark: #333;
$color-blue: #072366;


