/**
* styles.scss
* ---
* Main `sass` file. Import here `sass` files
*/

@import url('https://use.typekit.net/uqs1zgj.css');

@import "modules/bootstrap/bootstrap";
@import "modules/bootstrap/mixins/_breakpoints";
@import "modules/_variables";
@import "modules/_mixins";
@import "modules/_hamburgers";
@import "modules/_slick-theme";
@import "modules/_slick";

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: #fff;
  color: $color-text;
  font-family: $font-family-base;
  font-style: normal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 300;
  overflow-x: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
html {
  height: 100%;
}
b,
strong {
  font-weight: 700;
}
.center,
.aligncenter {
  text-align: center;
  margin: 0 auto;
}
p {
  color: $color-text;
  margin: 0px;
  font-weight: $regular;
  line-height: $line-height-base;
  font-family: $font-family-base;
}
a {
  color: $color-text;
  font-weight: $regular;
  margin: 0px;
  transition: all 150ms linear;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $color-text;
    text-decoration: none;
  }
}
svg {
  transition: all 150ms linear;
  path {
    transition: all 150ms linear;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  line-height: 1.1;
  color: $color-blue;
}
h2 {
  font-size: 40px;
  font-weight: $extra-bold;
  line-height: 1.4;
  margin-bottom: 30px;
}
ul,
ol,
address {
  margin: 0px;
  padding: 0px;
}
li {
  font-weight: $regular;
}
.appleFix {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.anchor {
  display: block;
  height: 74px;
  margin-top: -74px;
  visibility: hidden;
}


// Custom css
@import "partials/_elements";
@import "partials/_helpers";


//Pages
@import "pages/_page-home";


//Components
@import "components/_header";
@import "components/_footer";

// Media
@import "modules/_media";
